.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.dotsLeft {
  left: 0;
  top: 0;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.highlight {
  color: light-dark(var(--mantine-color-brown-7), var(--mantine-color-brown-5));
}

.cta {
  border-radius: var(--mantine-radius-lg);
  background: linear-gradient(
    45deg,
    light-dark(var(--mantine-color-brown-6), var(--mantine-color-brown-8)) 0%,
    light-dark(var(--mantine-color-brown-7), var(--mantine-color-brown-9)) 100%
  );
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
}

.playerContainer {
  aspect-ratio: 16/9;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-5)
  );
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.form {
  flex: 1;
  padding: var(--mantine-spacing-xl);
  border-left: 0;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-md);
  }
}

.fields {
  margin-top: rem(-12px);
}

.fieldInput {
  flex: 1;

  & + & {
    margin-left: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-sm) {
      margin-left: 0;
      margin-top: var(--mantine-spacing-md);
    }
  }
}

.fieldsGroup {
  display: flex;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.contacts {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-size: cover;
  background-position: center;
  border: rem(1px) solid transparent;
  padding: var(--mantine-spacing-xl);
  flex: 0 0 rem(280px);
  background-image: "url(/images/bg.svg)";

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.title-parent {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  font-family: Greycliff CF, var(--mantine-font-family);
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-xl);
  }
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.wrapper {
  display: flex;
  align-items: center;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
}

.title-contact {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.description {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
